<!DOCTYPE html>
<html>

  <head>
    <title>Ruby on Rails: Welcome aboard</title>
  </head>

    <body>
        <div id="page">
            <div class="container-narrow">
              <div class="login-form" id="login">
                <div class="row-fluid">
                     <% if current_user %>
                        <p style="text-align:center"> Welcome,
                        <%= current_user_details  %>
                        </p>
                     <% else %>
                        <p style="text-align:center"> Please Login or Register
                     <% end %>
                  </p>
                  <br />
                </div>
                <div class="submit-btn row-fluid">
                  <% if current_user %>
                    <div class="span12">
                      <div class="span3 offset1">
                        <button type="button" class="btn btn-primary" >
                          <%= link_to 'Coupons' , show_coupon_path   %>
                        </button>
                      </div>
                      <div class="span3">
                        <button type="button" class="btn btn-primary" >
                          <%= link_to 'Companies' , show_company_path   %>
                        </button>
                      </div>
                      <div class="span3 offset2">
                        <button type="button" class="btn btn-primary" >
                          <%= link_to 'Logout' , logout_path   %>
                        </button>
                      </div>
                    </div>
                  <% else %>
                    <div class="span12">
                      <div class="span5 offset2">
                        <button type="button" class="btn btn-primary" >
                          <%= link_to 'Login', login_path %>
                        </button>
                      </div>
                      <div class="span4 offset1">
                        <button type="button" class="btn btn-primary" >
                        <%= link_to 'Register', register_path %>
                        </button>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
    </body>

</html>