<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :preview_image %><br />
    <%= f.text_field :preview_image %>
  </div>
  <div class="field">
    <%= f.label :showcase_image %><br />
    <%= f.text_field :showcase_image %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area( :description, :rows => 8 ,:cols => 100 ) %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <% @company_names = Company.find(:all,
                                     :joins => "JOIN users on companies.owner_id = users.id",
                                     :select => " companies.id,companies.name ",
                                     :conditions => "users.email = '#{ current_user }'" ).map{|x| x} %>
    
    <%= f.label :company %><br />
    <%= f.select :company_id , options_from_collection_for_select(@company_names, "id", "name" ), :prompt => "Choose a company" %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :redeem_schedule %><br />
    <%= f.text_field :redeem_schedule %>
  </div>
  <div class="field">
    <%= f.label :begin_date %><br />
    <%= f.date_select :begin_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :redeem_code %><br />
    <%= f.text_field :redeem_code %>
  </div>
  <div class="field">
    <%= f.label :number_of_coupons %><br />
    <%= f.number_field :number_of_coupons %>
  </div>
  <div class="field">
    <% @category_names = Category.find(:all,
                                     :select => " categories.id,categories.category_name ").map{|x| x} %>
    
    <%= f.label :category %><br />
    <%= f.select :category_id , options_from_collection_for_select(@category_names, "id", "category_name" ), :prompt => "Choose a category" %>
  </div>
  <div class="field">
    <%= f.label :price_without_coupon %><br />
    <%= f.number_field :price_without_coupon %>
  </div>
  <div class="field">
    <%= f.label :price_with_coupon %><br />
    <%= f.number_field :price_with_coupon %>
  </div>
  <div class="actions">
    <%= f.submit( :class => "btn btn-primary") %>
  </div>
<% end %>
