<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @category.id %>
</p>

<p>
  <b>Category Name:</b>
  <%= @category.category_name %>
</p>

<p>
  <b>Category image:</b>
  <%= @category.category_image %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
