<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @filter.id %>
</p>

<p>
  <b>User:</b>
  <%= @filter.user_id %>
</p>

<p>
  <b>Filters:</b>
  <%= @filter.filters %>
</p>


<%= link_to 'Edit', edit_filter_path(@filter) %> |
<%= link_to 'Back', filters_path %>
